<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partial/head.ejs')%>
  </head>
  <body>
    <%- include('partial/navigation.ejs')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center alignt-item-center">
      <section>
        <h1 class="display-1">about</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus
          consequuntur aspernatur omnis sequi quam illum nihil rem accusamus
          neque natus recusandae odit est pariatur, earum distinctio accusantium
          quas eveniet dolore esse? Asperiores, quam deserunt aspernatur amet
          hic qui laborum, iure possimus mollitia at culpa laudantium, omnis
          cupiditate in nisi praesentium delectus molestias soluta odio ex vel!
          Voluptas optio dolores incidunt perferendis laboriosam provident
          excepturi repellendus non at rerum dolorem expedita, minima laudantium
          quibusdam corporis fugiat explicabo quis cumque harum laborum natus
          iste! Facilis tempore molestias dolores consequuntur dolorem porro
          numquam ipsam. Cum saepe alias atque asperiores, dicta amet ex! A quis
          quibusdam inventore officia incidunt sapiente obcaecati enim
          necessitatibus dolore quae laboriosam asperiores aperiam tenetur
          repellat possimus architecto similique provident rerum, ab sed
          temporibus sequi ducimus nobis iure. Qui aliquid autem eum expedita,
          mollitia nesciunt assumenda laboriosam rem. Eum magni libero ratione
          eveniet quam officia, eaque temporibus cumque, ullam iusto provident
          quo corporis, neque nostrum id vitae natus. Est, nobis illum dolorem
          minus dolores nisi sint autem sequi veniam hic minima veritatis
          architecto fugiat vero quis distinctio natus. Suscipit, omnis beatae.
          Sit deserunt, veritatis perspiciatis fugiat sint deleniti nisi cum
          vitae exercitationem, possimus vel totam, recusandae dolores eius
          excepturi. Totam
        </p>
      </section>
    </main>

    <%- include('partial/footer.ejs') %>

  </body>
</html>
